<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs656.cri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CRI"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.INTERNET"/>

        <activity
            android:name=".MainActivity"
            android:label="Car Recall Information"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".carSearch"
            android:label="Car Search"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs656.cri.MainActivity" />
        </activity>
        <activity
            android:name=".search_history"
            android:label="Search History"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs656.cri.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs656.cri.MainActivity" />
        </activity>
        <activity android:name=".SearchResults"
            android:label="Results"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs656.cri.MainActivity" />
        </activity>
    </application>

</manifest>